.audience {
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
}

.audience__title {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #0c0c0c;
}

.audience__list {
  @include list-reset;
}

.audience__item {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .audience {
    padding: 0;
    padding-top: 35px;
    padding-bottom: 40px;
  }

  .audience__title {
    margin-bottom: 20px;

    font-size: 24px;
    line-height: 32px;
  }

  .audience__item {
    font-size: 19px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .audience {
    order: 3;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .audience__title {
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 40px;
  }

  .audience__item {
    position: relative;

    padding-left: 60px;

    font-size: 18px;
    line-height: 24px;

    &::before {
      content: "";
      position: absolute;
      top: 11px;
      left: 0;

      width: 45px;
      height: 5px;

      background-color: #57ab27;
    }
  }
}
