.btn {
  display: block;
  padding: 20px 40px;

  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: #57ab27;
  border-radius: 200px;
  box-shadow: 0 8px 20px rgba(113, 203, 62, 0.8);
}
