.knowledge {
  position: relative;

  padding-top: 35px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;

    width: 290px;
    height: 1px;

    background-color: #e0e0e0;
  }
}

.knowledge__title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #0c0c0c;
}

.knowledge__list {
  @include list-reset;

  display: grid;
  margin-bottom: 20px;

  grid-gap: 15px;
}

.knowledge__item {
  position: relative;

  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 60px;

  font-size: 12px;
  line-height: 17px;
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 40px;

    background-color: #57ab27;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:nth-child(1)::before {
    background-image: url("../img/number-1-mobile.svg");
  }

  &:nth-child(2)::before {
    background-image: url("../img/number-2-mobile.svg");
  }

  &:nth-child(3)::before {
    background-image: url("../img/number-3-mobile.svg");
  }

  &:nth-child(4)::before {
    background-image: url("../img/number-4-mobile.svg");
  }
}

.knowledge__descr {
  margin: 0;

  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .knowledge {
    padding: 0;
    padding-bottom: 35px;

    &::before {
      left: 0;

      width: 710px;
    }
  }

  .knowledge__title {
    margin-bottom: 35px;

    font-size: 24px;
    line-height: 32px;
  }

  .knowledge__list {
    margin-bottom: 40px;

    grid-gap: 25px;
  }

  .knowledge__item {
    width: 505px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 105px;

    font-size: 18px;
    line-height: 26px;

    &::before {
      width: 70px;
      height: 70px;
    }

    &:nth-child(1)::before {
      background-image: url("../img/number-1-tablet.svg");
    }

    &:nth-child(2)::before {
      background-image: url("../img/number-2-tablet.svg");
    }

    &:nth-child(3)::before {
      background-image: url("../img/number-3-tablet.svg");
    }

    &:nth-child(4)::before {
      background-image: url("../img/number-4-tablet.svg");
    }
  }

  .knowledge__descr {
    width: 100%;

    font-size: 20px;
    line-height: 29px;
  }
}

@media (min-width: $desktop-width) {
  .knowledge {
    order: 2;
    padding-top: 40px;
    padding-bottom: 40px;

    &::before {
      left: 0;

      width: 1240px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 1240px;
      height: 1px;

      background-color: #e0e0e0;
    }
  }

  .knowledge__title {
    margin-bottom: 40px;

    font-size: 30px;
    line-height: 40px;
  }

  .knowledge__list {
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  .knowledge__item {
    &:nth-child(1)::before {
      background-image: url("../img/number-1-desktop.svg");
    }

    &:nth-child(2)::before {
      background-image: url("../img/number-2-desktop.svg");
    }

    &:nth-child(3)::before {
      background-image: url("../img/number-3-desktop.svg");
    }

    &:nth-child(4)::before {
      background-image: url("../img/number-4-desktop.svg");
    }
  }

  .knowledge__descr {
    font-size: 17px;
    line-height: 25px;
  }
}
