.main-nav {
  display: none;

  &--show {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: grid;
    width: 100vw;
    height: auto;
    padding-top: 95px;
    padding-bottom: 60px;

    background-color: #ffffff;

    justify-items: center;
  }

  &--less {
    display: none;
  }
}

.main-nav__list {
  @include list-reset;

  display: grid;
  order: 1;
  width: 320px;
  margin-bottom: 50px;
  padding-right: 25px;
  padding-left: 45px;

  grid-gap: 40px;
}

.main-nav__link {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: #0c0c0c;
}

.main-nav__contacts-link {
  order: 2;
}
