.main-nav {
  display: none;

  &--show {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: grid;
    width: 320px;
    height: auto;
    padding-top: 95px;
    padding-bottom: 60px;

    background-color: #ffffff;

    justify-items: center;
  }

  &--less {
    display: none;
  }
}

.main-nav--show::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;

  width: 100vw;
  height: 100%;

  background-color: #ffffff;
}

.main-nav--show::after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;

  width: 100vw;
  height: 100%;

  background-color: #ffffff;
}

.main-nav__list {
  @include list-reset;

  display: grid;
  order: 1;
  width: 320px;
  margin-bottom: 50px;
  padding-right: 25px;
  padding-left: 45px;

  grid-gap: 40px;
}

.main-nav__link {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: #0c0c0c;
}

.main-nav__contacts-link {
  order: 2;
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    align-items: center;
    width: 1000px;
    margin-bottom: 70px;

    &--less {
      display: flex;
      justify-content: space-between;
      width: 980px;
      margin: 0;
    }
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: auto;
    margin: 0;
    padding: 0;
  }

  .main-nav__item {
    margin-right: 45px;

    &:last-child {
      margin-right: 0;
    }
  }

  .main-nav--less .main-nav__item {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  .main-nav__link {
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    font-family: $second-font;
    color: #4f4f4f;

    &--less {
      font-size: 18px;
      line-height: 24px;
      font-family: $second-font;
    }
  }

  .main-nav__contacts-link {
    order: 1;
  }

  .main-nav--less .main-nav__contacts-link {
    order: 3;
  }
}
