.map {
  width: 320px;
  margin: 0 auto;
  margin-top: -25px;

  background-image: url("../img/map-bg-mobile@1x.jpg");
  background-size: cover;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/map-bg-mobile@2x.jpg");
  }
}

.map__iframe {
  width: 320px;
  height: 360px;

  border: none;
}
