.page-header {
  position: relative;

  padding-top: 15px;
  padding-bottom: 30px;

  color: #000000;

  background-color: #ffffff;
}

.page-header__logo {
  padding-left: 15px;

  &--less {
    display: none;
  }
}
