.page-header {
  position: relative;

  padding-top: 15px;
  padding-bottom: 30px;

  color: #000000;

  background-color: #ffffff;
}

.page-header__logo {
  width: 50%;
  margin-bottom: 20px;
  padding-left: 15px;

  &--less {
    display: none;
  }
}

.page-header__logo-img {
  width: 109px;
  height: 40px;
}

.page-header__btn {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 34px;
  height: 25px;

  background-image: url("../img/icon-hamburger-mobile.svg");
  background-size: cover;
  cursor: pointer;

  &--close {
    z-index: 10;

    width: 30px;
    height: 30px;

    background-image: url("../img/icon-close.svg");
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .page-header__logo {
    margin-bottom: 55px;
    padding-left: 30px;
  }

  .page-header__logo-img {
    width: 190px;
    height: 69px;
  }

  .page-header__btn {
    top: 50px;
    right: 30px;

    width: 47px;
    height: 28px;

    background-image: url("../img/icon-hamburger-tablet.svg");
  }
}
