.place {
  position: relative;
  z-index: 1;

  padding-right: 15px;
  padding-left: 15px;
}

.place__wrap {
  width: 290px;
  margin: 0 auto;
  padding-bottom: 35px;

  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.place__img {
  margin-bottom: 30px;
}

.place__list {
  @include list-reset;

  display: grid;
  padding-right: 30px;
  padding-left: 30px;

  grid-gap: 20px;
}

.place__link {
  position: relative;

  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 35px;

  font-size: 12px;
  line-height: 17px;
  color: #0c0c0c;

  &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 20px;

    background-size: cover;
  }

  &--pin::before {
    top: 5px;

    height: 28px;

    background-image: url("../img/icon-pin.svg");
  }

  &--phone {
    text-decoration: underline;
  }

  &--phone::before {
    height: 20px;

    background-image: url("../img/icon-phone.svg");
  }
}

@media (min-width: $tablet-width) {
  .place {
    margin-bottom: 50px;
    padding: 0;
  }

  .place__title {
    margin-bottom: 50px;

    font-size: 40px;
    line-height: 52px;
  }

  .place__wrap {
    display: grid;
    align-items: center;
    width: 710px;
    padding: 0;

    box-shadow: none;

    grid-template-columns: 350px 360px;
  }

  .place__img {
    margin: 0;
  }

  .place__list {
    width: 360px;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 45px;

    grid-gap: 40px;
  }

  .place__link {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 44px;

    font-size: 16px;
    line-height: 23px;

    &::before {
      width: 25px;
    }

    &--pin::before {
      top: 9px;

      height: 35px;
    }

    &--phone::before {
      height: 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .place {
    width: 400px;
    margin: 0;
  }

  .place__wrap {
    display: block;
    width: 400px;
  }

  .place__list {
    width: 400px;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 40px;

    grid-gap: 40px;
  }
}
