.promo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}

.promo-text__descr {
  margin: 0;

  &--experts {
    display: none;
  }

  &--question {
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    font-family: $second-font;
    text-align: center;
    color: #0c0c0c;
  }

  &--event {
    margin-bottom: 5px;

    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #57ab27;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-shadow: 0 0 250px #ffffff;
  }
}

.promo-text__title {
  width: 290px;
  margin: 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  font-family: $second-font;
  text-align: center;
  color: #000000;
  text-shadow: 0 0 250px #ffffff;
}

.promo-text__link {
  width: 290px;
  margin-top: 20px;
}
