.promo-img {
  position: relative;

  order: 1;
  width: 100%;
  margin-top: -55px;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 54px;
    left: 32px;

    width: 243px;
    height: 52px;

    background-image: url("../img/chart.svg");
    background-size: cover;
  }
}
