.promo-img {
  position: relative;

  order: 1;
  width: 100%;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: -26px;
    left: 32px;

    width: 243px;
    height: 52px;

    background-image: url("../img/chart.svg");
    background-size: cover;
  }
}

@media (min-width: $tablet-width) {
  .promo-img {
    order: 2;
    width: 430px;
    margin-bottom: 40px;

    &::before {
      top: -36px;
      left: 64px;

      width: 318px;
      height: 68px;
    }
  }
}
