.promo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.promo-text__descr {
  margin: 0;

  &--experts {
    display: none;
  }

  &--question {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #0c0c0c;
  }
}

.promo-text__title {
  width: 290px;
  margin: 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #000000;
  text-shadow: 0 0 250px #ffffff;
}

@media (min-width: $tablet-width) {
  .promo-text {
    order: 1;
    width: 335px;
    margin-bottom: 40px;
    padding: 0;
    padding-top: 10px;
    padding-left: 30px;
  }

  .promo-text__descr {
    width: 305px;

    &--experts {
      display: block;
      margin-bottom: 25px;

      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      font-family: $second-font;
      color: #777777;
    }

    &--question {
      font-size: 20px;
      line-height: 26px;
      text-align: left;
      color: #000000;
    }
  }

  .promo-text__title {
    width: 305px;
    margin-bottom: 20px;

    font-size: 46px;
    line-height: 52px;
    text-align: left;
    color: #000000;
    text-shadow: none;
  }
}

@media (min-width: $desktop-width) {
  .promo-text {
    align-items: start;
    width: 400px;
    padding: 0;
  }

  .promo-text__descr {
    width: 400px;

    &--experts {
      margin-bottom: 20px;

      font-size: 19px;
      line-height: 24px;
    }

    &--question {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .promo-text__title {
    width: 400px;
    margin-bottom: 30px;

    font-size: 60px;
    line-height: 67px;
  }
}
