.promo-img {
  position: relative;

  width: 100%;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: -26px;
    left: 32px;

    width: 243px;
    height: 52px;

    background-image: url("../img/chart.svg");
    background-size: cover;
  }
}
