.promo {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .promo {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    position: relative;

    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 40px;
    padding-right: 800px;
  }
}
