.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 35px;
  padding-right: 10px;
  padding-bottom: 35px;
  padding-left: 10px;

  border: 10px solid #e6e6e6;
}

.questions__title {
  width: 210px;
  margin: 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.questions__descr {
  width: 240px;
  margin: 0;
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 20px;
  font-family: $second-font;
  text-align: center;
  color: #333333;
}

.questions__input {
  width: 250px;
  height: 50px;
  margin-bottom: 25px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;

  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: $second-font;
  color: #0c0c0c;

  border: 1px solid #57ab27;
  border-radius: 3px;
  outline: none;

  &:focus::placeholder {
    font-size: 0;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    font-family: $second-font;
    color: #0c0c0c;
  }
}

.questions__btn {
  width: 230px;
  padding-top: 15px;
  padding-right: 35px;
  padding-bottom: 15px;
  padding-left: 35px;

  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #57ab27;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: transparent;
  border: 1px solid #57ab27;
  border-radius: 100px;
}

@media (min-width: $tablet-width) {
  .questions {
    width: 530px;
    margin-bottom: 60px;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 20px;

    border: 20px solid #e6e6e6;
    border-top: none;
  }

  .questions__title {
    width: 350px;
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 40px;
  }

  .questions__descr {
    width: 350px;
    margin-bottom: 30px;

    font-size: 15px;
    line-height: 21px;
  }

  .questions__input {
    width: 310px;
    margin-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .questions__btn {
    width: 250px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (min-width: $desktop-width) {
  .questions {
    width: 545px;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 100px;
    padding-left: 30px;

    border: 20px solid #e6e6e6;
  }

  .questions__descr {
    width: 302px;
  }

  .questions__input {
    width: 315px;
    margin-bottom: 30px;
  }

  .questions__btn {
    width: 230px;
  }
}
