.speakers {
  position: relative;

  margin-bottom: 50px;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 35px;
  padding-left: 15px;

  background-color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;

    width: 100vw;
    height: 100%;

    background-color: #ffffff;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;

    width: 100vw;
    height: 100%;

    background-color: #ffffff;
  }
}

.speakers__title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #bdbdbd;
}

.speakers__list {
  @include list-reset;

  position: relative;
  z-index: 1;

  display: grid;

  grid-gap: 30px;
}

.speakers__item {
  display: grid;

  grid-template-columns: 1fr 1fr;
}

.speakers__item-title {
  order: 2;
  width: 145px;
  margin: 0;
  padding-top: 40px;
  padding-left: 15px;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #0c0c0c;
}

.speakers__item-descr {
  flex-grow: 1;
  order: 3;
  margin: 0;

  font-size: 12px;
  line-height: 20px;
  color: #000000;

  grid-column-end: 3;
  grid-column-start: 1;
}

.speakers__item-img {
  order: 1;
  margin-bottom: 20px;

  border: 10px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

@media (min-width: $tablet-width) {
  .speakers {
    margin-bottom: 175px;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 55px;
  }

  .speakers__title {
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 40px;
  }

  .speakers__item {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 250px;
    padding-right: 300px;

    &:nth-child(2n) {
      padding-right: 0;
      padding-left: 300px;
    }
  }

  .speakers__item-title {
    order: 1;
    width: 410px;
    margin-bottom: 30px;
    padding: 0;

    font-size: 38px;
    line-height: 50px;
  }

  .speakers__item-descr {
    flex-grow: 0;
    order: 3;
    width: 410px;
    margin: 0;

    font-size: 16px;
    line-height: 26px;
  }

  .speakers__item-img {
    position: absolute;
    top: 0;
    right: 0;

    margin: 0;

    border: 13px solid #ffffff;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  }

  .speakers__item:nth-child(2n) .speakers__item-img {
    right: auto;
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .speakers {
    position: relative;

    order: 5;
    margin: 0;
    padding-top: 70px;
    padding-right: 105px;
    padding-bottom: 70px;
    padding-left: 105px;
  }

  .speakers__title {
    margin-bottom: 25px;
  }

  .speakers__item {
    min-height: 340px;
    padding-right: 420px;

    &:nth-child(2n) {
      padding-right: 0;
      padding-left: 420px;
    }
  }

  .speakers__item-title {
    width: 610px;

    font-size: 50px;
    line-height: 65px;
  }

  .speakers__item-descr {
    width: 610px;
  }

  .speakers__item-img {
    border: 15px solid #ffffff;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  }
}
