.video {
  margin-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

.video__wrap {
  position: relative;

  display: block;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;

    width: 44px;
    height: 44px;

    background-color: #ffffff;
    background-image: url("../img/icon-play-mobile.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 11px 10px;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &::after {
    content: "Видео-приглашение";
    position: absolute;
    top: 50%;
    right: 30px;

    width: 170px;

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    transform: translateY(-50%);
  }
}

@media (min-width: $tablet-width) {
  .video {
    margin-bottom: 40px;
    padding: 0;
  }

  .video__wrap {
    &::before {
      left: 100px;

      width: 108px;
      height: 108px;

      background-image: url("../img/icon-play-tablet.svg");
      background-size: 27px 24px;
    }

    &::after {
      right: 95px;

      width: 370px;

      font-size: 34px;
      line-height: 44px;
    }
  }
}

@media (min-width: $desktop-width) {
  .video {
    position: relative;

    display: flex;
    justify-content: center;
    order: 6;
    margin-bottom: 150px;
    padding-top: 30px;
    padding-bottom: 150px;

    background-color: #ffffff;

    &::before {
      content: "";
      position: absolute;
      right: 100%;
      bottom: 0;

      width: 100vw;
      height: 100%;

      background-color: #ffffff;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 100%;

      width: 100vw;
      height: 100%;

      background-color: #ffffff;
    }
  }

  .video__wrap {
    &::before {
      left: 210px;

      width: 150px;
      height: 150px;

      background-image: url("../img/icon-play-desktop.svg");
      background-size: 42px 36px;
    }

    &::after {
      right: 210px;

      width: 400px;

      font-size: 36px;
      line-height: 46px;
    }
  }
}
