@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto-slab";
  font-style: normal;

  src: url("../fonts/roboto-slab.woff2") format("woff2"), url("../fonts/roboto-slab.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto-slab";
  font-style: normal;

  src: url("../fonts/roboto-slab-bold.woff2") format("woff2"), url("../fonts/roboto-slab-bold.woff") format("woff");
}
